body{background: linear-gradient(to right, #EB2F10 , #1F10EB); text-align: center; font-family: Arial, Helvetica, sans-serif;}
h1{color: Black; margin-top: 100px;}
button{padding: 10px 20px; border: none; background-color: rgb(0, 0, 0); color: white; border-radius: 10px; cursor: pointer;}
